<div class="login-fields container-fluid bg-primary">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="login()"
    class="row d-flex flex-column text-light align-items-center text-center gy-3"
  >
    <h2 class="fs-1">CRYPTO LOGIN</h2>
    <div class="align-items-center">
      <label class="form-label px-2" for="username">Username:</label>
      <input
        type="text"
        id="username"
        class="form-control"
        formControlName="username"
      />
    </div>
    <div class="align-items-center">
      <label class="form-label px-2" for="password">Password:</label>
      <input
        type="password"
        id="password"
        class="form-control"
        formControlName="password"
      />
    </div>
    <div>
      <button class="btn btn-light btn-primary text-primary fs-5" type="submit">
        Enter site
      </button>
    </div>
  </form>
</div>
