.nav-link:hover {
  cursor: pointer;
}

img {
  width: 1rem;
  height: auto;
}

.logout {
  list-style: none;
  font-size: large;
}

.navbar-toggler-icon {
  color: white;
}

.close {
  size: 1rem;
}
